body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiDrawer-paper {
  width: 30% !important;
  background-color: #F2F2F2 !important;
  }
@media (min-width: 100px) and (max-width: 900px) {
  .hideHeaderTextabout{
  display: none  !important;
  }
  .hideHeaderTextProjects{
    display: none  !important;
    }
    .hideHeaderTextresume{
      display: none  !important;
      }
}
@media (min-width: 900px) and (max-width: 4000px) {
  .hideHeadericon{
    display: none !important;
  }
}